
<div class="ui-g-12">
  <img src="C:\Users\Daniel\AngularWorkspace\FormularioPrimeNG\img\primeng.png">
</div>

<p-fieldset legend="Formulário" [toggleable]="true">
  <div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-md-4">
      <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
          <input type="text" pInputText placeholder="Username" [(ngModel)]="Username">
          <span class="ui-inputgroup-addon"><i class="fa fa-map-marker"></i></span>
          <input type="text" pInputText placeholder="Endereço" [(ngModel)]="Endereco">
          <span class="ui-inputgroup-addon"><i class="fa fa-at"></i></span>
          <input type="text" pInputText placeholder="Email" [(ngModel)]="Email">
          <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
          <input type="password" pInputText placeholder="Password" name="password">
          <button pButton type="button" (click)="salvar()" label="Enviar" class="ui-button-success"></button>
          <button pButton type="button" (click)="limpar()" label="Cancelar" class="ui-button-danger"></button>
        </div>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-12">
    <h3>Informações Sobre o Cadastro:</h3>
  </div>
  <div class="ui-g-12">
      <p>Username: {{Username}}</p>
  </div>
  <div class="ui-g-12">
      <p>Endereço: {{Endereco}}</p>
  </div>
  <div class="ui-g-12">
      <p>Email: {{Email}}</p>
  </div>
</div>
</p-fieldset>
<p-fieldset legend="Tabela de Cadastros" [toggleable]="true">
  <p-table>
    <ng-template pTemplate="header">
        <tr>
            <th>Usuário</th>
            <th>Endereço</th>
            <th>Email</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body">
        <tr>
            <td>CAR VIN</td>
            <td>1999</td>
            <td>My Brand Kappa</td>
        </tr>
    </ng-template>
</p-table>
</p-fieldset>
